body {
    background-color: #1c14fb;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #f5f5f5;
    color: #000000;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    text-align: left;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
    background-color: #f5f5f5;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}


.scrolling-text-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.scrolling-text {
    white-space: nowrap;
    animation: scrollText 10s linear infinite;
    color: #fff;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
}

.big-emoji {
    font-size: 5rem;
    margin-right: 30px;
}

.text {
    font-family: 'Monospace', sans-serif;
    font-size: 14px;
}

h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
}

h3 {
    font-family: 'Monospace', sans-serif;
    font-size: 14px;
}

h4 {
    font-family: 'Monospace', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

button, input[type="submit"] {
    background-color: #00FF00;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}



