.header {
    background-color: #f5f5f5;
    color: #000000;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    text-align: left;
}


body {
    background-color: #1c14fb;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}