.header {
    background-color: #f5f5f5;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    color: #000000;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    text-align: left;
}


body {
    background-color: #00FF00;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

button {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    background-color: #000000; /* Green background color */
    color: #C80815; /* White text color */
    border: none; /* Remove borders */
    border-radius: 5px; /* Optional: Rounded corners */
    cursor: pointer; /* Change cursor on hover */
}



.text {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    text-align: right;
    padding: 20px;
}


.emoji {
    font-size: 30px; /* Adjust the font size as needed */
    cursor: pointer;
    position: absolute;
    bottom: 35%;
    right: 85%;
}



.emoji2 {
    font-size: 50px; /* Adjust the font size as needed */
    cursor: pointer;
    position: absolute;
    bottom: 15%;
    right: 15%;
}
