{% extends "layout.html" %}

{% block title %}
    Index page
{% endblock %}

{% block main %}


<h2>History of transactions</h2>
<table>
    <thead>
        <tr>
            <th>Stock</th>
            <th>Number of shares</th>
            <th>Price per share</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->

        {% for stock in user_purchases %}
        <tr>
        <td>{{ stock.stock }}</td>
        <td>{{ stock.number_shares }}</td>
        <td>{{ stock.price_per_share }}</td>
        <td>{{ stock.timestamp_column }}</td>

        </tr>
        {% endfor %}
    </tbody>

{% endblock %}
