{% extends "layout.html" %}

{% block title %}
    Index page
{% endblock %}

{% block main %}


<h2>Shares owned</h2>
<table>
    <thead>
        <tr>
            <th>Stock</th>
            <th>Number of shares</th>
            <th>Current price</th>
            <th>Total value</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->

        {% for stock in user_stocks %}
        <tr>
        <td>{{ stock.stock }}</td>
        <td>{{ stock.total_shares }}</td>
        <td>{{ stock.current_price_html }}</td>
        <td>{{ stock.total_value_html }}</td>

        </tr>
        {% endfor %}
    </tbody>



<table>
    <thead>
        <tr>
            <th>Current cash balance</th>
            <th>Grand total</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->
        <tr>
        <td>{{ current_cash }}</td>
        <td>{{ grand_total }}</td>
        </tr>

    </tbody>
</table>
{% endblock %}
